{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'Logo2.png' %}" type="image/png">
    <title>Synthify - Home</title>
</head>
<body>

    <header>
        <div class="backgroundTop">
            <div id="textWelcome">
                <h1>Descubra uma nova era de eficiência com os recursos da Synthify</h1>
            </div>

        </div>
        <div class="belowTextWelcome">
            <div class="topHeader">
                <div id="iconLogo">
                    <img src="{% static 'Logo2.png' %}" alt="logo">
                </div>

                <div id="nameSynthify">
                        <h1>Synthify</h1>
                </div>
            </div>
            
            <div class="topHeader">
                <div id="entrar">
                    <a href="loginPage.html">
                        <button>Entrar</button>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="centerItens">
            <div class="leftItens">
                <div id="serviceManagement">
                    <button>SOFTWARE DE SERVICE MANAGEMENT</button>
                </div>

                <div id="title">
                    <h1>Automatize seu IT Service <br>
                       Management para tirar de letra o <br>
                       alto volume de tickets</h1>
                </div>

                <div id="subtitle">
                    <h2>Alcance todas as suas metas utilizando nossa ferramenta que <br>
                        automatiza o trabalho manual dos times de suporte de TI. <br>
                        Com Synthify, você organiza a gestão de chamados e garante <br>
                        resoluções rápidas e eficazes.
                     </h2>
                </div>

                <a href="sobre.html">
                    <button class="button">Sobre o Projeto</button>
                </a>
            </div>
             
            <div class="rightItens">
                <div id="imgMan">
                    <img src="{% static 'Man.png' %}" alt="frontMan">
                </div>
            </div>
        </div>

        <div class="groupBelowMain">
            <div id="videosTitle">
                <h1>Videos</h1>
            </div>

            <div id="videosSubtitle">
                <h2>Assista à evolução do nosso projeto!</h2>
            </div>
        </div>
    </main>

    <footer>
        <div class="groupVideos">
            <div class="backgroundVideos">
                <div class="video">
                    <img src="{% static 'imageVideo.png' %}" alt="imageVideo">
                    <h1 class="titleVideo">Video 1</h1>
                    <a href="https://www.youtube.com/watch?v=OG9aGMGjtl8" target=”_blank”>
                        <button class="button">Clique e Assista</button>
                    </a>
                </div>
            </div>

            <div class="backgroundVideos">
                <div class="video">
                    <img src="{% static 'imageVideo.png' %}" alt="imageVideo">
                    <h1 class="titleVideo">Video 2</h1>
                    <button class="button">Clique e Assista</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>