{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synthify - Software de Service Management</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'Logo2.png' %}" type="image/png">
    
</head>
<body>
    <header>
        <div class="top-bar">
            <p>Descubra uma nova era de eficiência com os recursos da Synthify.</p>
        </div>
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'Logo2.png' %}" alt="Synthify">
            </div>
            <a href="loginPage.html" class="login-btn">Entrar</a>
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-text">
                <span class="tag">Software de Service Management</span>
                <h1>Automatize seu IT Service Management para tirar de letra o alto volume de tickets</h1>
                <p>Alcance todas as suas metas utilizando nossa ferramenta que automatiza o trabalho manual dos times de
                    suporte de TI. Com Synthify, você organiza a gestão de chamados e garante resoluções rápidas e
                    eficazes.</p>
                <a href="sobre.html"><button class="cta-button">Sobre o Projeto</button></a>
            </div>
            <div class="hero-image">
                <img src="{% static 'Man.png' %}" alt="Imagem promocional">
            </div>
        </section>
        <section class="videos">
            <h2>Vídeos</h2>
            <p>Assista à evolução do nosso projeto!</p>
            <div class="video-grid">
                <div class="video-card">
                    <h1>Vídeo 1</h1>
                    <div class="video-preview">
                        <img src="{% static 'preview.png' %}" alt="Pré-visualização do vídeo 1">
                        <div class="play-button-overlay">
                            <a href="https://www.youtube.com/watch?v=OG9aGMGjtl8" target="_blank">
                                <img src="{% static 'play.png' %}" alt="Play Button">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="video-card">
                    <h1>Vídeo 2</h1>
                    <div class="video-preview">
                        <img src="{% static 'preview.png' %}" alt="Pré-visualização do vídeo 2">
                        <div class="play-button-overlay">
                            <a href="https://www.youtube.com/watch?v=OG9aGMGjtl8" target="_blank">
                                <img src="{% static 'play.png' %}" alt="Play Button">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>