<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginStyle.css">
    <script src="https://kit.fontawesome.com/98589b12b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="Logo2.png" type="image/png">
    <title>Synthify - Login</title>
</head>



<body>
    <div class="login-page">
        <aside>
            <div class="logo">
                <img src="logo.png" alt="logo-synthify">
                <p>Descubra uma nova era de <b>eficiência</b> com os recursos da Synthify</p>
                <a href="#"><button class="btn-logo">Não tem uma conta?</button></a>
            </div>
        </aside>
        <main>
            <div class="login">
                <h2>Olá,</h2>
                <p>Seja bem-vindo de volta!</p>
                
                <div class="input-wrapper">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" id="email-login" placeholder="Endereço de e-mail">
                </div>

                <div class="input-wrapper">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="senha-login" placeholder="Senha">
                </div>

                <div>
                    <a href="chat-synthify.html">
                        <button class="btn-login">Login</button>
                    </a>
                </div>
                
                
                <a href="#" id="esqueci-senha">Esqueci a senha</a>
            </div>
        </main>
    </div>
</body>

</html>