{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Projeto - Synthify</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'sobre.css' %}">
    <link rel="icon" href="{% static 'Logo2.png' %}" type="image/png">
</head>

<body>

    <div class="header">
        <img src="{% static 'vector.png' %}" alt="">
        <h1>Sobre a Synthify</h1>
    </div>

    <div class="content">
        <div class="content-text">
            <p>
                Desenvolvido em parceria com a empresa Softtek, <span>Synthify</span> é uma plataforma inovadora
                desenvolvida
                especificamente para <span>equipes de suporte técnico</span>,
                com o objetivo de tornar seu trabalho não só mais produtivo, mas também mais assertivo, elevando o
                atendimento ao cliente a um novo patamar.
                <br><br>
                Utilizando tecnologias como HTML e CSS no front-end, JavaScript e Python no back-end, aliada à
                inteligência artificial generativa, a Sinthify <span>transforma a maneira como as equipes de suporte
                    técnico operam</span>, analisando o histórico de
                tickets e documentações,
                resumindo e extraindo as informações mais relevantes, e sugerindo respostas embasadas de forma rápida.
                <br><br>
                Assim, proporcionamos <span>soluções mais eficientes, precisas e adaptadas às necessidades de cada
                    cliente</span>.
            </p>
        </div>
        <div class="content-image">
            <img src="{% static 'img.png' %}" alt="Imagem do Projeto">
        </div>
    </div>

    <div class="team-section">

        <div class="team-member">
            <img src="{% static 'ingryd.png' %}" alt="Ingryd">
            <h3><a href='https://github.com/ingrydshirlley'>Ingryd Shirlley</a></h3>
            <p>Designer e Front-end Engineer</p>
        </div>

        <div class="team-member">
            <img src="{% static 'mateus.jpg' %}" alt="Mateus">
            <h3><a href='https://github.com/mateusarturo'>Mateus Arturo</a></h3>
            <p>Front-end Engineer</p>
        </div>

        <div class="team-member">
            <img src="{% static 'murillo.jpg' %}" alt="Murillo">
            <h3><a href='https://github.com/MuRibeiroDev'>Murillo Ribeiro</a></h3>
            <p>Front-end e Back-end Engineer</p>
        </div>

        <div class="team-member">
            <img src="{% static 'raphaela.jpg' %}" alt="Raphaela">
            <h3><a href='https://github.com/raphaela-dias'>Raphaela Longo</a></h3>
            <p>Back-end Engineer e Video Editor</p>
        </div>

        <div class="team-member">
            <img src="{% static 'sophia.jpg' %}" alt="Sophia">
            <h3><a href="https://github.com/ocireu">Ocireu</a></h3>
            <p>Front-end Engineer</p>
        </div>

    </div>

    <div class="footer">
        <p>© 2024 Synthify - Todos os direitos reservados.</p>
    </div>

</body>

</html>